@font-face {
    font-family: odin-logo;
    src: url("fonts/Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    height: 100%;
}

.left-panel {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 160px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dark-logo-background {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.dark-logo-background > p {
    color: white;
    font: 80px "odin-logo", sans-serif;
}

.photo-creds {
    margin-bottom: 10px;
}

.photo-creds,
.photo-creds > a {
    color: white;
}

.right-panel {
    background-color: rgb(250, 254, 254);
    margin-right: 160px;
}

.right-panel p {
    margin-left: 50px;
}

.service-text {
    margin-top: 150px;
}

form {
    background-color: white;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgb(246, 244, 244);
}

.white-box > p {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}