@font-face {
    font-family: odin-logo;
    src: url("fonts/Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    height: 100%;
}

.left-panel {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 160px;
    width: 900px;
    display: flex;
    flex-direction: column;
}

.dark-logo-background {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-logo-background > p {
    color: white;
    font: 80px "odin-logo", sans-serif;
}

.photo-creds,
.photo-creds > a {
    color: white;
}

.right-panel {
    background-color: rgb(235, 233, 233);
    margin-right: 160px;
}