* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
}

.left-panel {
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    margin-left: 160px;
}

.right-panel {
    background-color: rgb(235, 233, 233);
    margin-right: 160px;
}

.dark-logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
}